
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
SigueAI-API/node_modules/
SigueAI-WEB/node_modules/

dist
dist-ssr
SigueAI-WEB/dist/

# Arquivos locais
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

SigueAI-API/.env
SigueAI-WEB/.env
.vercel
